[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
setuptools-scm = "*"
elastic = "*"
aioredis = "==1.3.0"

[dev-packages]

[requires]
python_version = "3.8"

[packages.uvicorn]
extras = [ "standard",]

[packages.elasticsearch]
extras = [ "async",]
